a {text-decoration: none}
a:hover {text-decoration: underline}
.menu {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFFFFF}
.idiomas { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #026E5A}
.secao {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF}
.texto {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #575757}
.boxbusca {  width: 83px; border: #026e5a; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.tabcinza {  background-color: #F1F1F1}
.tabverdeclaro { background-color: #87B199}
.tabverdeescuro { background-color: #026E5A}
.autores { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #575757 ; font-style: italic}
.titulosbold { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #026e5a; font-weight: bold}
.datasbold { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #575757; font-weight: bold }
.not_data { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #575757; font-weight: bold }
.not_tit { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color: #575757; font-weight: bold }
.textoverde { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #026e5a}
.datas { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #575757}
.textomenor { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #575757 }
form {padding: 0 0 0 0; margin: 0 0 0 0}
