/* $Id: scvp.css,v 1.1.1.1 2004/01/25 15:18:52 mmr Exp $ */
body{margin: 0 0}
body,td,a:link,a:visited,a:active,a:hover
{
  background-color: #ffffff;
  color: #484848;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap
}

h1{font-size: 15pt;font-weight:bold}

a:link, a:visited, a:active, a:hover{background: none; font-weight:bold}
a:link, a:visited {color:#015540}
a:active, a:hover {color:#73aa8c}

table{width:100%}
td{background-color: #ffffff}

input,select,textarea
{
  color: #015540;
  background-color: #eeffee;
  border: 0.5pt solid;
  border-color: #015540 solid
}
img{border:0;vertical-align:middle}

/* Topo */
table.topo{border-collapse: collapse}
td.topo, td.topo_usr_nome, td.topo_sys_nome
{
  padding: 0 0 0 0;
  height: 40px;
  background-image: url(../img/fundo_topo.gif);
  color: #ffffff;
  vertical-align: middle;
}
td.topo{width:256px}
td.topo_sys_nome{text-align: left}
td.topo_usr_nome{text-align: right;padding-right: 3pt}

/* Menu */
table.menu
{
  border-collapse: collapse;
  height: 40px;
  color: #ffffff;
}
table.menu td
{
  vertical-align: middle;
  text-align: center;
  background-image: url(../img/fundo_menusup.gif);
  color: #015540
}

/* Rodape */
div.rodape{background: #015540}

/* Box */
td.box
{
  color: #ffffff;
  background-color: #73aa8c;
  text-align: left;
  font-size: 9pt;
  letter-spacing: 0.2pt;
  font-weight: bold
}
table.extbox
{
  background-color:none;
  border-collapse: collapse
}
table.intbox
{
  background-color:#015540;
  border-collapse: collapse;
  border: 1px solid #015540
}
table.intbox td {padding: 3px; border: 1px solid #015540}

/* Retorno (ret_msgs) */
td.retsuccess,div.retsuccess {color: #73aa8c;}
td.retfizzles,div.retfizzles {color: #ff0000;}

/* Form */
td.formitem{width:1%;font-weight:bold;color:#484848}

/* Misc */
.thin {width: 1pt}
.c{text-align:center}
.noborder{border:0;background:none}
