<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app id="receiver">
  <display-name>Receiver</display-name>

  <servlet>
    <servlet-name>getLastBuilds</servlet-name>
    <servlet-class>org.b1n.receiver.web.GetLastBuildsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>saveInfo</servlet-name>
    <servlet-class>org.b1n.receiver.web.SaveInfoServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>saveInfo</servlet-name>
    <url-pattern>/saveInfo</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>getLastBuilds</servlet-name>
    <url-pattern>/getLastBuilds</url-pattern>
  </servlet-mapping>
</web-app>
