* {
  font-family: verdana;
  margin: 10px;
  padding: 5px;
}
hr {
  padding: 0px;
  margin: 0px;
}
h1 {
  text-align: center;
  color: #aaa;
}
td.project {
}
td.userName {
}
td.buildTime {
  font-size: 2em;
  text-align: right;
  border: 1px dotted black;
}
table.builds {
  border: 1px dotted black;
}