* {
  font-family: Arial, Verdana, sans-serif;
}
h1 {
  text-align: center;
  color: #aaa;
}

table {
  width: 80%;
  background: whitesmoke;
  border-collapse: collapse
}

table th, table td {
  border: 1px solid silver;  
  padding: 0.2em;
}

table th {
  background: gainsboro;
  text-align: left;
  border-bottom: 2px solid silver;
}

td.hour {
  text-align: center;
}

td.version, td.buildTime {
  text-align: right;
}