body { font-family: verdana, helvetica, sans-serif; font-size: 12pt; color: #000000; }


INPUT.CAIXA {
 color:#000000;
 background: #F8F8F8;
 border-right:0px solid #00;
 border-left:0px solid #00;
 border-top:0px solid #00;
 border-bottom:0px solid #00;
}

INPUT{
	color:#000000;
	background: #F8F8F8;
	border-right:1px solid #00;
	border-left:1px solid #00;
	border-top:1px solid #00;
	border-bottom:1px solid #00;
	font : xx-small;
}
   
SELECT {
  color:#000000;
  background:#F8F8F8;
  border-right:1px solid #00; 
  border-left:1px solid #00; 
  border-top:1px solid #00; 
  border-bottom:1px solid #00;
}
 
textarea{
   color:#000000;
   background:#F8F8F8;
   border-right:1px solid #00; 
   border-left:1px solid #00; 
   border-top:1px solid #00; 
   border-bottom:1px solid #00;
 }
 
 .text  {color : #494949; font-family :   Verdana, Arial, Helvetica, sans-serif; font-size : 11px;}
.textb  {color : #494949; font-family :Verdana, Arial, Helvetica, sans-serif; font-size : 12px;font-weight : bold;}
.textmini  {color : #000000; font-family : Verdana,Arial,Helvetica, sans-serif; font-size : 11px; font-weight : bold;}

.title  {color : #000000; font-family :  Verdana, Helvetica, sans-serif; font-size : 14px; font-weight : bold;}
.titlesub  {color : #000000; font-family : Verdana, Helvetica, sans-serif; font-size : 13px;}

.menu {
	color: #000000;
	text-decoration: underline;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
}
