/* $Id: ibest.css,v 1.1.1.1 2003/03/29 19:55:21 binary Exp $ */

INPUT.CAIXA 
{
    color:#000000;
    background: #F8F8F8;
    border-right:0px solid #00;
    border-left:0px solid #00;
    border-top:0px solid #00;
    border-bottom:0px solid #00
}

INPUT
{
    color:#000000;
    background: #F8F8F8;
    border-right:1px solid #00;
    border-left:1px solid #00;
    border-top:1px solid #00;
    border-bottom:1px solid #00;
    font : xx-small
}
   
SELECT 
{
  color:#000000;
  background:#F8F8F8;
  border-right:1px solid #00; 
  border-left:1px solid #00; 
  border-top:1px solid #00; 
  border-bottom:1px solid #00
}
 
textarea
{
   color:#000000;
   background:#F8F8F8;
   border-right:1px solid #00; 
   border-left:1px solid #00; 
   border-top:1px solid #00; 
   border-bottom:1px solid #00
}

.default
{
    color: #000000;
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 14px;
}
    

/* Backgrounds */
.bg-white 
{
    background: #FFFFFF
}

.bg-black 
{
    background: #000000
}

.bg-gray 
{
    background: #CCCCCC
}

.bg-darkred 
{
    background: #990000
}

.bg-red 
{
    background: #FF0000
}

/* Texto */
.text  
{
    color : #494949;
    font-family :   Verdana, Arial, Helvetica, sans-serif;
    font-size : 10px
}

.textb  
{
    color : #494949;
    font-family :Verdana, Arial, Helvetica, sans-serif;
    font-size : 10px;
    font-weight : bold
}

.textmini  
{
    color : #000000;
    font-family : Verdana,Arial,Helvetica, sans-serif;
    font-size : 9px;
    font-weight : bold
}


.textwhite  
{
    color : #FFFFFF;
    font-family :  Arial, Verdana, Helvetica, sans-serif;
    font-size : 10px
}

.textbwhite  
{
    color : #FFFFFF;
    font-family :  Arial, Verdana, Helvetica, sans-serif;
    font-size : 10px;
    font-weight : bold
}

.textwhitemini  
{
    color : #FFFFFF;
    font-family : Arial, Verdana, Helvetica, sans-serif;
    font-size : 12px
}

.textred  
{
    color : #FF0000;
    font-family :  Arial, Verdana, Helvetica, sans-serif;
    font-size : 10px
}

.textbred  
{
    color : #FF0000;
    font-family :  Arial, Verdana, Helvetica, sans-serif;
    font-size : 10px;
    font-weight : bold
}

.textredmini  
{
    color : #FF0000;
    font-family :  Arial, Verdana, Helvetica, sans-serif;
    font-size : 9px
}


.textgreen  
{
    color : #009900;
    font-family :  Arial, Verdana, Helvetica, sans-serif;
    font-size : 10px
}

.textbgreen  
{
    color : #009900;
    font-family :  Arial, Verdana, Helvetica, sans-serif;
    font-size : 10px;
    font-weight : bold
}

.textgreenmini  
{
    color : #009900;
    font-family :  Arial, Verdana, Helvetica, sans-serif;
    font-size : 9px
}


.textblue  
{
    color : #0000FF;
    font-family :  Arial, Verdana, Helvetica, sans-serif;
    font-size : 10px
}

.textbblue  
{
    color : #0000FF;
    font-family :  Arial, Verdana, Helvetica, sans-serif;
    font-size : 10px;
    font-weight : bold
}

.textbluemini  
{
    color : #0000FF;
    font-family :  Arial, Verdana, Helvetica, sans-serif;
    font-size : 9px
}


.textyellow  
{
    color : #FFFF00;
    font-family :  Arial, Verdana, Helvetica, sans-serif;
    font-size : 10px
}

.textbyellow 
{
    color : #FFFF00;
    font-family :  Arial, Verdana, Helvetica, sans-serif;
    font-size : 10px;
    font-weight : bold
}

.textbyellowi  
{
    color : #FFFF00;
    font-family :  Arial, Verdana, Helvetica, sans-serif;
    font-size : 10px
}


.title  
{
    color : #000000;
    font-family : Arial, Verdana, Helvetica, sans-serif;
    font-size : 12px;
    font-weight : bold
}

.titlesub  
{
    color : #000000;
    font-family : Arial, Verdana, Helvetica, sans-serif;
    font-size : 11px
}


/*link*/

A:link 
{
    text-decoration: none;
    color: #494949;
    font-family :Verdana, Arial, Helvetica, sans-serif;
    font-size : 10px;
    font-weight : bold
}

A:visited 
{
    text-decoration:none;
    color: #494949;
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 10px;
    font-weight : bold
}

A:active 
{
    text-decoration: none;
    color: #494949;
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 10px;
    font-weight : bold
}

A:hover 
{
    text-decoration: none;
    color: #949494;
    font-family :Verdana,  Arial, Helvetica, sans-serif;
    font-size : 10px;
    font-weight : bold
}

A.lmenu:link 
{
    text-decoration: none;
    color: #ffffff;
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 10px;
}

A.lmenu:visited 
{
    text-decoration:none;
    color: #ffffff;
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 10px;
}

A.lmenu:active 
{
    text-decoration: none;
    color: #0033cc;
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 10px;
}

A.lmenu:hover 
{
    text-decoration: none;
    color: #eebb00;
    font-family :Verdana,  Arial, Helvetica, sans-serif;
    font-size : 10px;
}
